<!DOCTYPE HTML>
<!--
  Stellar by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Albion Arts Corridor Economic Development Strategy</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link href="//cartodb-libs.global.ssl.fastly.net/cartodbui/assets/4.3.58/stylesheets/public_editor3.css" media="all" rel="stylesheet" type="text/css">
    <link href="//cartodb-libs.global.ssl.fastly.net/cartodbui/assets/4.3.58/stylesheets/deep_insights.css" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/themes/css/cartodb.css" />

<!--     <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %> -->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>
  <body>

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Header -->
          <header id="header" class="alt">
            <span class="logo"><img src="images/WakefieldMA-seal.png" alt="" /></span>
            <h1>Albion Arts Corridor Strategy</h1>
            <p> Developing a vision for the future of the cultural community in Downtown Wakefield.</p>
          </header>

        <!-- Nav -->
          <nav id="nav">
            <ul>
              <li><a href="#intro" class="active">Contribute</a></li>
              <li><a href="#first">See Results</a></li>
              <li><a href="#second">Meet With Us</a></li>
              <li><a href="#cta">Engage Further</a></li>
            </ul>
          </nav>

          <%= yield %>

        <!-- Footer -->
          <footer id="footer">
            <section>
              <h2>About MAPC</h2>
              <p>The Metropolitan Area Planning Council (MAPC) is the regional planning agency serving the people who live and work in the 101 cities and towns of Metropolitan Boston. Our mission is to promote smart growth and regional collaboration. Our regional plan, MetroFuture, guides our work as we engage the public in responsible stewardship of our region’s future.</p>
              <ul class="actions">
                <li><a href="http://mapc.org" target="_blank" class="button">Learn More</a></li>
              </ul>
            </section>
            <section>
              <h2>Contact</h2>
              <dl class="alt">
                <dt>Address</dt>
                <dd>60 Temple Place &bull; Boston, MA 02111 &bull; USA</dd>
                <dt>Email</dt>
                <dd><a href="#">achisholm@mapc.org</a></dd>
              </dl>
            </section>
            <p class="copyright">&copy; MAPC. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
          </footer>

      </div>

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.scrollex.min.js"></script>
      <script src="assets/js/jquery.scrolly.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>
  </body>
</html>