<!-- Main -->
<div id="main">
  <!-- Introduction -->
  <section id="intro" class="main">
    <div class="spotlight">
      <div class="content">
        <header class="major">
          <h2>The Albion Arts Corridor Cultural Economic Development Plan is complete!</h2>
        </header>
        <p>The project engages arts and culture as part of a broader economic development strategy for downtown Wakefield. While a strong arts and culture sector can make Wakefield an even more exciting and enriching place to call home, it can also serve as a key drive of economic development that creates jobs, supports small businesses, and increases Town tax rolls. </p>
        <p>The plan lays out short and long term action steps that can be taken by the Town and its partners to develop Albion Street (the Albion Arts Corridor) and the surrounding Downtown into a thriving arts and culture destination.</p>
        <p>The report includes recommendations for achieving this vision that are structured around five major goals:</p>
        </p>1. Creating a distinct arts and cultural identity for Downtown & the Albion Arts Corridor</p>
        </p>2. Transforming Albion Street into an active street and focal point for arts and culture</p>
        </p>3. Redeveloping the Albion Cultural Exchange Building into a permanent arts and culture center</p>
        </p>4. Marketing arts and culture in the Downtown</p>
        </p>5. Zoning and Redeveloping to support and grow a thriving arts and culture district Downtown</p>
        </p>Click below to see the Executive Summary or the full report:
        </ul>
      </div>
      <span class="image"><img src="images/aceaufgust.jpg" alt="" /></span>
    </div>
  </section>
  <!-- First Section -->
  <section id="first" class="main special" style="padding: 0; padding-top:inherit;">
    <div class="spotlight">
      <div class="content">
        <header class="major">
          <h2>Cultural Assets Map</h2>
        </header>
        <p>The Albion Arts Corridor project included an extensive community outreach process. As part of that process we asked the community to map cultural assets. See the mapped results below!</p>
      </div>
    </div>
    <h2>Albion Cultural Assets</h2>
    <!--       <iframe width="100%" height="520" frameborder="0" src="https://mapc.carto.com/u/mapc-admin/builder/5e06ca82-9c79-11e6-bf23-0e3ebc282e83/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
 -->
    <!-- <div id="dashboard" style="height: 520px; width:100%;"></div>     -->
    <iframe width="99%" style="height: 90vh" frameborder="0" src="https://mapc.carto.com/u/mapc-admin/viz/54b45fea-aab5-11e6-9ee9-0e3ebc282e83/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
  </section>
  
  </section>
  <!-- Get Started -->
  <section id="cta" class="main">
    <div class="spotlight">
      <div class="content">
        <header class="major">
          <h2>More Opportunities to Engage</h2>
          <p>For more information on the Albion Arts Corridor Cultural Economic Development Plan please contact Amanda Chisholm at <a href="mailto:achisholm@mapc.org">achisholm@mapc.org</a> or Chris Carino at <a href="mailto:ccarino@wakefield.ma.us">ccarino@wakefield.ma.us</a></p> 
        </header>
      </div>
    </div>
  </section>
</div>
